:host {
	position: absolute;
	transition-property: bottom;
	transition-duration: .6s;
	transition-timing-function: ease-in;
}

:host([visible = "false"]), :host([visible = "0"]),
:host(:not([row])),
:host(:not([posx-initialized])),
:host(.posx-is-overflow) {
	display: none;
}

#hidden-siblings-marker {
	font-size: 6pt;
	font-style: italic;
	transform: rotate(-90deg);
	transform-origin: left;
	opacity: 0.4;
	display: none;
	position: absolute;
	left: 6px;
	top: -5px;
	padding: 0px 4px 0px 2px;
	cursor: default;
}

#hidden-siblings-marker:hover {
	opacity: 1;
	background-color: white;
	border-radius: 3px;
	font-weight: bold;
}

:host([hidden-siblinbgs-count]) #hidden-siblings-marker {
	display: block;
}

#marker {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 12px;
	height: 12px;
}

:host(:not([symbol]):not([color])) #marker {
	background-color: #888;
}

:host([symbol]:not([color])) #marker {
	color: #888;
}

:host([symbol]) #marker {
	font-family: "unifont", "unifont-upper";
	text-decoration: none;
	font-size: 11pt;
}

:host([shape = "duration-bar"]) #marker, :host(:not([shape])) #marker {
	width: 100%;
	min-width: 12px;
	border-radius: 2px;
}

:host([shape = "circle"]) #marker {
	clip-path: circle(50%);
}

:host([shape = "diamond"]) #marker {
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

:host([shape = "star"]) #marker {
	clip-path: polygon( 50% 0, 64% 30%, 97% 35%, 73% 57%, 79% 90%, 50% 75%, 21% 90%, 26% 57%, 2% 35%, 35% 30%);
}

:host([shape = "duration-bar"]:hover) #marker, 
:host([shape = "duration-bar"].selected) #marker,
:host(:not([shape]):not([symbol]):hover) #marker, 
:host(:not([shape]):not([symbol]).selected) #marker {
	box-shadow: 0px 0px 4px 2px #888;
}

:host([symbol]:hover) #marker, :host([symbol].selected) #marker {
	text-shadow: 2px 2px 3px #000;
}

:host([shape]:not([shape = "duration-bar"]):hover) #marker-container,
:host([shape]:not([shape = "duration-bar"]).selected) #marker-container {
	filter: drop-shadow(0px 0px 4px #000);
}

@keyframes seethrough {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.25;
	}
}

#popup {
	display: none;
	position: absolute;
	z-index: 2;
	border-radius: 5px 5px 5px 5px;
}

#popup-arrow {
    border-style: solid;
    content: "";
	position: absolute;
	display: none;
	width: 0; 
	height: 0; 
	border-width: 6px 6px 6px 6px;
}

:host(:not([color])) #popup-arrow {
	border-color: #888;
}

:host(.selected) #popup, :host(.selected) #popup-arrow {
	display: block;
	animation-name: seethrough;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

:host(.selected:hover) #popup {
	box-shadow: 0px 0px 8px 4px #888;
}

#popup-arrow.right {
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-width: 0px;
	bottom: 5px;
}

#popup-arrow.left {
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-width: 0px;
	bottom: 5px;
}

#popup-arrow.above {
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-width: 0px;
	left: 0px;
}

#popup-arrow.below {
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-top-width: 0px;
	left: 0px;
}

:host(:hover.selected) #popup, :host(:hover.selected) #popup-arrow {
	animation-name: none;
}

#close-button {
	cursor: pointer;
	opacity: 0.3;
	position: absolute;
	top: 2px;
	right: 2px;
	display: block;
	background-size: contain;
	background-image: url('{my-component-folder}/close.svg');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

#popup.dark #close-button, :host(:not([color])) #close-button {
	background-image: url('{my-component-folder}/close-white.svg');
}

#close-button:hover {
	opacity: 1;
}

:host(:not([color])) #popup-header {
	background-color: #888;
}

#popup-header {
	margin: 0 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

#popup.dark #popup-header {
	color: white;
}

:host(:not([color])) #popup-header {
	background-color: #888;
	color: white;
}

#popup-body {
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 0 0 5px 5px;
	padding-top: 1px;
    padding-bottom: 7px;
	padding-right: 1px;
	padding-left: 1px;
}

:host(:not([color])) #popup-body {
	border-color: #888;
}

#popup-content {
	padding: 5px 5px 5px 5px;
	overflow-y: auto;
}

#popup-content * {
	font-size: 8pt;
}