#container {
	position: absolute;
	transition-property: bottom;
	transition-duration: .4s;
	transition-timing-function: ease-out;
}

:host([visible = "false"]) #container, :host([visible = "0"])  #container,
:host:not([row]) #container,
#container.row-is-overflow, 
#container.posx-is-overflow {
	display: none;
}

#marker {
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	cursor: pointer;
	height: 12px;
	background-color: #888;
}

:host([shape]:not([shape = "duration-bar"])) #marker {
	width: 12px;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}

:host([shape = "duration-bar"]) #marker, :host(:not([shape])) #marker {
	width: 100%;
	min-width: 12px;
	border-radius: 2px;
}

:host([shape = "circle"]) #marker {
	mask-image: url('{my-component-folder}/circle.svg');
	-webkit-mask-image: url('{my-component-folder}/circle.svg');
}

:host([shape = "diamond"]) #marker {
	mask-image: url('{my-component-folder}/diamond.svg');
	-webkit-mask-image: url('{my-component-folder}/diamond.svg');
}

:host([shape = "square"]) #marker {
	mask-image: url('{my-component-folder}/square.svg');
	-webkit-mask-image: url('{my-component-folder}/square.svg');
}

:host([shape = "star"]) #marker {
	mask-image: url('{my-component-folder}/star.svg');
	-webkit-mask-image: url('{my-component-folder}/star.svg');
}

 #marker:hover, :host(.selected) #marker {
	z-index: 4;
	height: 14px;
	top: 1px;
}

:host([shape]:not([shape = "duration-bar"])) #marker:hover, :host(.selected[shape]:not([shape = "duration-bar"])) #marker {
	width: 14px;
	left: -1px;
}

#popup {
	display: none;
	position: absolute;
	z-index: 4;
	left: 15px;
	bottom: 5px;
	background-color: white;
	border: 1px solid #AAA;
	border-radius: 10px;
	padding: 0 15px 0 5px;
	text-align: right;
}

:host(.selected) #popup {
	display: block;
}

#close-button {
	cursor: pointer;
	opacity: 0.3;
	position: relative;
	top: 2px;
	right: -13px;
	display: inline-block;
}

#close-button:hover {
	opacity: 1;
}

#close-icon {
	width: 16px;
	height: 16px;
}

#popup-content {
	max-height: 250px;
	overflow-y: auto;
	text-align: left;
}

#popup-content * {
	font-size: 8pt;
}