#widget-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	position: relative;
}

#legend {
	margin-right: 2px;
	text-align: right;
	max-width: 70px;
	min-width: 70px;
	padding-top: 10px;
	height: calc(100% - 10px);
}

.legend-label {
	padding-right: 5px;
	height: 20px;
	line-height: 15px;
	font-size: 8pt;
	color: white;
	font-weight: bold;
	opacity: 0;
	transition: opacity 0.5s;
}

#year-label {
	background-color: cornflowerblue;
}

#month-label {
	background-color: lightskyblue;
}

#day-label {
	background-color: powderblue;
}

#hour-label {
	background-color: violet;
}

#minute-label {
	background-color: plum;
}

#second-label {
	background-color: thistle;
}

#millisecond-label {
	background-color: pink;
}

/* ---------------------------------------------------------- */

#main-section {
	flex-grow: 1;
	max-width: calc(100% - 90px);
	min-width: calc(100% - 90px);
	display: flex;
	flex-direction: column;
	height: calc(100% - 10px);
	padding-right: 20px;
}

#display-window {
	overflow: hidden;
	width: 100%;
	flex-grow: 1;
	position: relative;
	padding-top: 10px;
	/*will-change: scroll-position;*/
}

#timeline-container {
	height: 100%; 
	position: relative;
	display: inline-flex;
	flex-direction: column;
	top: -5px;
}

#time {
	height: 100%;
	min-height: 150px;
	display: flex;
	flex-direction: row;
}

#events {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#timeline-cursor {
	position: absolute;
	height: 100%;
	width: 1pt;
	background-color: red;
	top: 0px;
	left: 0px;
	z-index: 2;
	display: none;
}

#timeline-cursor-label {
	color: red;
	font-size: 7pt;
	margin-left: 2px;
	width: 110px;
	/*will-change: left;*/
}

/* ------------------------------------------------- */

#display-window.scrollable #events, #display-window.scrollable #timeline-cursor  {
	cursor: grab;
}

#display-window.scrolled #events, #display-window.scrolled #timeline-cursor  {
	cursor: grabbing;
}

#display-window.zooming-in #events, #display-window.zooming-in #timeline-cursor  {
	cursor: zoom-in;
}

#display-window.zooming-out #events, #display-window.zooming-out #timeline-cursor  {
	cursor: zoom-out;
}

#display-window.zoom-denied #events, #display-window.zoom-denied #timeline-cursor  {
	cursor: not-allowed;
}

/* ------------------------------------------------------- */

.time-division {
	display: flex;
	flex-direction: row;
	/*animation: fadein 0.5s;*/
	padding-top: 20px;
	/*will-change: display;*/
}

/*
#widget-container.year .time-division-year,
#widget-container.day .time-division-day,
#widget-container.hour .time-division-hour,
#widget-container.minute .time-division-minute,
#widget-container.tenseconds .time-division-tenseconds,
#widget-container.second .time-division-second,
#widget-container.ahundredmilliseconds .time-division-ahundredmilliseconds,
#widget-container.tenmilliseconds .time-division-tenmilliseconds,
#widget-container.millisecond .time-division-millisecond,
#widget-container.second .time-division-second,
#widget-container.ahundredmilliseconds .time-division-ahundredmilliseconds,
#widget-container.tenmilliseconds .time-division-tenmilliseconds,
#widget-container.millisecond .time-division-millisecond
{
	will-change: display, width;
}*/


.time-division.overflow {
	display: none;
}

#widget-container.minute .time-division-tenminutes,
#widget-container.tenseconds .time-division-tenminutes,
#widget-container.second .time-division-tenminutes,
#widget-container.ahundredmilliseconds .time-division-tenminutes,
#widget-container.tenmilliseconds .time-division-tenminutes,
#widget-container.millisecond .time-division-tenminutes,
#widget-container.second .time-division-tenseconds,
#widget-container.ahundredmilliseconds .time-division-tenseconds,
#widget-container.tenmilliseconds .time-division-tenseconds,
#widget-container.millisecond .time-division-tenseconds,
#widget-container.tenmilliseconds .time-division-ahundredmilliseconds,
#widget-container.millisecond .time-division-ahundredmilliseconds,
#widget-container.millisecond .time-division-tenmilliseconds
{
	padding-top: 0;
}

.time-division > .label {
	align-self: flex-start !important;
	display: block;
	position: sticky;
	left: 0;
	font-size: 8pt;
	width: 0;
	margin-top: -20px;
}

.time-division.odd {	
	color: white;
	background-image: linear-gradient(transparent, #FFF8 4em,  #FFFC);
	background-size: cover;
}

.time-division.even {
	background-color: white;
	background-size: cover;
}

.time-division-year.odd { 
	background-color: cornflowerblue;
}

.time-division-year.even {
	color: cornflowerblue;
}

.time-division-month.odd {	
	background-color: lightskyblue;
}

.time-division-month.even {
	color: lightskyblue;
}

.time-division-day.odd { 
	background-color: powderblue;
}

.time-division-day.even {
	color: powderblue;
}

.time-division-hour.odd { 
	background-color: violet;
}

.time-division-hour.even {
	color: violet;
}

.time-division-minute.odd, .time-division-tenminutes.odd { 
	background-color: plum;
}

.time-division-minute.even, .time-division-tenminutes.even {
	color: plum;
}

.time-division-second.odd, .time-division-tenseconds.odd { 
	background-color: thistle;
}

.time-division-second.even, .time-division-tenseconds.even {
	color: thistle;
}

.time-division-ahundredmilliseconds.odd, .time-division-tenmilliseconds.odd, .time-division-millisecond.odd { 
	background-color: pink;
}

.time-division-ahundredmilliseconds.even, .time-division-tenmilliseconds.even, .time-division-millisecond.even {
	color: pink;
}

#widget-container.year #year-label,
#widget-container.month #month-label, #widget-container.month #year-label,
#widget-container.day #day-label, #widget-container.day #month-label, #widget-container.day #year-label,
#widget-container.hour #hour-label, #widget-container.hour #day-label, #widget-container.hour #month-label, #widget-container.hour #year-label,
#widget-container.tenminutes #minute-label, #widget-container.tenminutes #hour-label, #widget-container.tenminutes #day-label, #widget-container.tenminutes #month-label, #widget-container.tenminutes #year-label,
#widget-container.minute #minute-label, #widget-container.minute #hour-label, #widget-container.minute #day-label, #widget-container.minute #month-label, #widget-container.minute #year-label,
#widget-container.tenseconds #second-label, #widget-container.tenseconds #minute-label, #widget-container.tenseconds #hour-label, #widget-container.tenseconds #day-label, #widget-container.tenseconds #month-label, #widget-container.tenseconds #year-label,
#widget-container.second #second-label, #widget-container.second #minute-label, #widget-container.second #hour-label, #widget-container.second #day-label, #widget-container.second #month-label, #widget-container.second #year-label,
#widget-container.ahundredmilliseconds #millisecond-label, #widget-container.ahundredmilliseconds #second-label, #widget-container.ahundredmilliseconds #minute-label, #widget-container.ahundredmilliseconds #hour-label, #widget-container.ahundredmilliseconds #day-label, #widget-container.ahundredmilliseconds #month-label, #widget-container.ahundredmilliseconds #year-label,
#widget-container.tenmilliseconds #millisecond-label, #widget-container.tenmilliseconds #second-label, #widget-container.tenmilliseconds #minute-label, #widget-container.tenmilliseconds #hour-label, #widget-container.tenmilliseconds #day-label, #widget-container.tenmilliseconds #month-label, #widget-container.tenmilliseconds #year-label,
#widget-container.millisecond #millisecond-label, #widget-container.millisecond #second-label, #widget-container.millisecond #minute-label, #widget-container.millisecond #hour-label, #widget-container.millisecond #day-label, #widget-container.millisecond #month-label, #widget-container.millisecond #year-label
{
	opacity: 1;
}

#widget-container.year .time-division-month,
#widget-container.month .time-division-day,
#widget-container.day .time-division-hour,
#widget-container.hour .time-division-tenminutes,
#widget-container.tenminutes .time-division-minute,
#widget-container.minute .time-division-tenseconds,
#widget-container.minute .time-division-tenminutes > .label,
#widget-container.tenseconds .time-division-second,
#widget-container.tenseconds .time-division-tenminutes > .label,
#widget-container.second .time-division-ahundredmilliseconds,
#widget-container.second .time-division-tenminutes > .label,
#widget-container.second .time-division-tenseconds > .label,
#widget-container.ahundredmilliseconds .time-division-tenmilliseconds,
#widget-container.ahundredmilliseconds .time-division-tenminutes > .label,
#widget-container.ahundredmilliseconds .time-division-tenseconds > .label,
#widget-container.tenmilliseconds .time-division-millisecond,
#widget-container.tenmilliseconds .time-division-tenminutes > .label,
#widget-container.tenmilliseconds .time-division-tenseconds > .label,
#widget-container.tenmilliseconds .time-division-ahundredmilliseconds > .label,
#widget-container.millisecond .time-division-tenminutes > .label,
#widget-container.millisecond .time-division-tenseconds > .label,
#widget-container.millisecond .time-division-ahundredmilliseconds > .label,
#widget-container.millisecond .time-division-tenmilliseconds > .label
{
	display: none;
}


/* ----------------------------------------------------------------- */

#scroll-tools {
	position: relative;
	height: 20px;
	margin-top: 2px;
}

#scroll-tools button {
	position: absolute;
	height: 20px;
	width: 20px;
	z-index: 2;
	border: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-color: white;
	outline: none;
	cursor: pointer;
	opacity: 0.6;
}

#scroll-tools button[disabled] {
	opacity: 0.25;
	cursor: default;
}

#scroll-tools button:not([disabled]):hover {
	opacity: 1;
}

#dezoom-button {
	left: -50px;
	background-image: url('{my-component-folder}/dezoom.svg');
	background-color: #E8E8E8 !important;
	border: 3px solid #E8E8E8;
	border-radius: 2px;
}

#scroll-left-button {
	left: -22px;
	background-image: url('{my-component-folder}/left-oriented-triangle.svg');
}

#scroll-right-button {
	right: -22px;
	background-image: url('{my-component-folder}/right-oriented-triangle.svg');
}

#scrollbar {
	position: absolute;
	background-color: #DDD;
	height: 20px;
	width: 100%;
	z-index: 1;
}

#scrollbar-background {
	position: absolute;
	height: 20px;
	width: 100%;
}

#scrollbar-cursor {
	position: absolute;
	height: 20px;
	left: -2px;
	top: -2px;
	width: 100%;
	border: 2px solid #555;
	background-color: rgba(255, 255, 255, .4);
}

#scrollbar.scrollable #scrollbar-cursor {
	cursor: pointer;
}

#scrollbar.scrollable #scrollbar-cursor:not(.view-too-small):hover, #scrollbar.scrollable #scrollbar-cursor:not(.view-too-small).scrolled {
	border: 2px solid #222;
	background-color: rgba(255, 255, 255, .6);
}

#scrollbar-cursor.view-too-small {
	background-color: black;
	border-color: black;
	opacity: 1 !important;
}

#toggle-fullscreen-button {
	position: absolute;
	background-image: url('{my-component-folder}/go-fulllscreen.svg');
	background-color:white;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	border: none;
	border-radius: 2px;
	height: 20px;
	width: 20px;
	outline: none;
	cursor: pointer;
	opacity: 0.3;
	right: 2px;
	top: 2px;
	z-index: 5;
}

#toggle-fullscreen-button * {
	outline: none;
}

#toggle-fullscreen-button:hover {
	opacity: 1;
}

:host(:fullscreen) #toggle-fullscreen-button, :host-context(:fullscreen) #toggle-fullscreen-button {
	background-image: url('{my-component-folder}/exit-fulllscreen.svg');
}

:host(:fullscreen) {
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
}