#container > header {
	padding-left: 30px;
	padding-right: 30px;
	position: sticky;
	top: 0px;
	background-color: white;
	padding-top: var(--main-padding, 20px);
	padding-bottom: var(--main-padding, 20px);
	border-bottom: 1px solid #aaa;
	display: block;
	z-index: 2;
	box-shadow: 0 10px 8px -8px gray;
	margin-bottom: 10px;
}

#header-header {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#resource-type-description {
	text-align: center;
	display: table-cell;
	width: 60px;
	vertical-align: top;
}

#resource-type-icon {
	width: 60px;
	/*height: 60px;*/
}

#resource-type-label {
	font-size: 8pt;
	font-weight: bold;
}

#resource-description {
	/*display: inline-block;
	margin-left: 10px;*/

	padding-left: 10px;
	display: table-cell;
	vertical-align: top;
}

#title {
	margin-top: 0;
	margin-bottom: 3px;
	font-size: 22pt;
}

#resource-link {
	display: block;
	font-size: 10pt;
	margin-bottom: 7px;
	outline: none;
}

#resource-link:after {
	content: " [↗]";
}

#resource-status-label {
	padding-left: 18px;
	font-size: 11pt;
	display: inline;
}

#container.online #resource-status {
	color: #060;
	background: url('{my-component-folder}/online.svg') no-repeat;
}

#container.error #resource-status {
	background: url('{my-component-folder}/error.svg') no-repeat;
}

#container.error #resource-status-label, #container.error #error-message {
	color: red;
}

#error-message {
	display: none;
}

#container.error #error-message {
	display: inline;
}

#resource-tools {
	display: table-cell;
	vertical-align: top;
	width: 60px;
	text-align: right;
}

#resource-tools * {
	opacity: 0.2;
	cursor: pointer;
	display: inline-block;
}

#resource-tools *:hover {
	opacity: 1;
}

#tool-edit {
	background: url('{my-component-folder}/edit.svg') no-repeat;
	width: 27px;
	height: 24px;
}

#tool-remove {
	background: url('{my-component-folder}/trash.svg') no-repeat;
	width: 21px;
	height: 24px;
}

#resource-about {
	display: block;
}

#container.error #resource-about {
	display: none;
}

#ktbs-version {
	font-size: 10pt;
}

.add-ressource-button {
	display: block;
	width: 100%;
	text-decoration-line: none;
	color: grey;
	font-size: 24pt;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px; 
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	max-width: 90%;
	cursor: pointer;
}

.add-ressource-button:hover {
	background-color: #E8E8E8;
	color: black;
}

#container.error #resource-contents {
	display: none;
}
