#container {
	display: block;
}

#link {
	display: inline-block;
	width: 100%;
	text-decoration-line: none;
	padding-left: 32px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-repeat: no-repeat;
	background-position: 5px 8px;
	color: black;
	font-size: 16pt;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	max-width: 90%;
	overflow-wrap: break-word;
}

#link:hover {
	background-color: #E8E8E8;
}

:host([resource-type = "Ktbs"]) #link {
	background-image: url('{my-component-folder}/Ktbs.svg');
}

:host([resource-type = "Base"]) #link {
	background-image: url('{my-component-folder}/Base.svg');
}

:host([resource-type = "Method"]) #link {
	background-image: url('{my-component-folder}/Method.svg');
}

:host([resource-type = "Model"]) #link {
	background-image: url('{my-component-folder}/Model.svg');
}

:host([resource-type = "StoredTrace"]) #link {
	background-image: url('{my-component-folder}/StoredTrace.svg');
}

:host([resource-type = "ComputedTrace"]) #link {
	background-image: url('{my-component-folder}/ComputedTrace.svg');
}

#container.error #link ,
#container.authentication-required #link,
#container.access-denied #link {
	font-style: italic;
	opacity: .5;

}

#container.error #link {
	background-position: 12px 15px, 5px 8px;
}

#container.authentication-required #link,
#container.access-denied #link {
	background-position: 22px 25px, 5px 8px;
}

#container.access-granted #link {
	background-position: 20px 28px, 5px 8px;
}

:host([resource-type = "Ktbs"]) #container.error #link {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/Ktbs.svg');
}

:host([resource-type = "Ktbs"]) #container.authentication-required #link {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/Ktbs.svg');
}

:host([resource-type = "Ktbs"]) #container.access-denied #link {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/Ktbs.svg');
}

:host([resource-type = "Ktbs"]) #container.access-granted #link {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/Ktbs.svg');
}

:host([resource-type = "Base"]) #container.error #link {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/Base.svg');
}

:host([resource-type = "Base"]) #container.authentication-required #link {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/Base.svg');
}

:host([resource-type = "Base"]) #container.access-denied #link {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/Base.svg');
}

:host([resource-type = "Base"]) #container.access-granted #link {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/Base.svg');
}

:host([resource-type = "Method"]) #container.error #link {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/Method.svg');
}

:host([resource-type = "Method"]) #container.authentication-required #link {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/Method.svg');
}

:host([resource-type = "Method"]) #container.access-denied #link {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/Method.svg');
}

:host([resource-type = "Method"]) #container.access-granted #link {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/Method.svg');
}

:host([resource-type = "Model"]) #container.error #link {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/Model.svg');
}

:host([resource-type = "Model"]) #container.authentication-required #link {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/Model.svg');
}

:host([resource-type = "Model"]) #container.access-denied #link {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/Model.svg');
}

:host([resource-type = "Model"]) #container.access-granted #link {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/Model.svg');
}

:host([resource-type = "StoredTrace"]) #container.error #link {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/StoredTrace.svg');
}

:host([resource-type = "StoredTrace"]) #container.authentication-required #link {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/StoredTrace.svg');
}

:host([resource-type = "StoredTrace"]) #container.access-denied #link {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/StoredTrace.svg');
}

:host([resource-type = "StoredTrace"]) #container.access-granted #link {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/StoredTrace.svg');
}

:host([resource-type = "ComputedTrace"]) #container.error #link {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/ComputedTrace.svg');
}

:host([resource-type = "ComputedTrace"]) #container.authentication-required #link {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/ComputedTrace.svg');
}

:host([resource-type = "ComputedTrace"]) #container.access-denied #link {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/ComputedTrace.svg');
}

:host([resource-type = "ComputedTrace"]) #container.access-granted #link {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/ComputedTrace.svg');
}
