#container {
	display: inline-block;
	position: relative;
}

#title {
	font-size: 8pt;
	text-align: center;
}

#pie {
	display: inline-block;
	vertical-align: middle;
}

#legend {
	display: inline-block;
	margin-block-start: 0px;
	margin-block-end: 0px;
	vertical-align: middle;
	padding-inline-start: 20px;
}

#legend li {
    list-style-type: none;
    position: relative;
}

#legend li::before {
    content: '⬤';
    position: absolute;
    left: -1.5em;
	top: 0.3em;
    font-size: 0.6em;
}

#legend li span {
	color: black;
	font-size: 9pt;
	vertical-align: middle;
}

/* -------------------------------- */

#popup {
	position: absolute;
	border-radius: 5px 5px 5px 5px;
	z-index: 1;
	background-color: white;
    border: 1px solid lightgray;
	padding: 10px 10px;
	pointer-events: none;
}

#popup.hidden {
	display: none;
}

#popup-title {
	font-size: 9pt;
	font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
	white-space: nowrap;
}

#popup-content {
	font-weight: bold;
	margin-block-start: 5px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
	list-style-type: none;
	font-size: 9pt;
}