h1 {
	margin-top: 0;
}

label {
	display: inline-block;
	width: 80px;
	text-align: right;
}

#label {
	border: 1px solid lightgray;
	height: 20px;
	outline: none;
	vertical-align: middle;
}

#label:focus {
	background-color: rgb(230, 245, 255);
}

#uri {
	vertical-align: middle;
	margin-bottom: -14px;
}

#uri, #label {
	width: 400px;
} 

#buttons {
	text-align: center;
}

#buttons button {
	background-color: var(--color-main, cornflowerblue);
	width: 90px;
	height: 35px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	border: none;
}

#buttons button:hover, #buttons button:focus {
	background-color: var(--color-highlight, royalblue);
}

#ok:disabled, #ok:disabled:hover {
	cursor: default;
	background-color: #CCC;
}
