#filters-container {
	width: 700px;
}

#fields {
	padding-left: 0;
	display: table-cell;
}

li.field {
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

label[for = "begin-lower"], label[for = "end-lower"], label[for = "obsel-lower"] {
	width: 150px;
	display: inline-block;
	text-align: right;
}

.field input[type = "text"] {
	width: 127px;
}

#buttons {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}

#buttons button {
	background-color: var(--color-main, cornflowerblue);
	width: 90px;
	height: 35px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	border: none;
	display: block;
	outline: none;
}

#buttons button:hover {
	background-color: var(--color-highlight, royalblue);
}

#obsels-table {
	width: 100%;
}

#obsels-table th {
	color: white;
	font-weight: bold;
	font-size: 16pt;
}

#obsels-table th, #obsels-table td {
	padding: 5px 10px;
}

#obsels-table thead {
	background-color: var(--nav-background-color, var(--color-main, cornflowerblue));
}

#obsels-table-body tr:nth-child(odd){ 
	background: #D9D9D9;
}

#obsels-table-body tr:nth-child(even){
	background: silver;
}

.obsel-link {
	outline: none;
}

.attributes-list {
	display: block;
	max-width: 250px;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	font-size: 8pt;
}

#table-container {
	position: relative;
}

#table-container #error-message {
	display: none;
}

#table-container.error #obsels-table, #table-container.error #obselsperpage {
	display: none;
}

#table-container.error #error-message {
	display: block;
	color: red;
}

#toggle-reverse-button {
	display: inline-block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 16px;
	height: 10px;
	opacity: 0.3;
	background-image: url('{my-component-folder}/bottom-oriented-triangle.svg');
}


#toggle-reverse-button:hover {
	opacity: 1;
}

#toggle-reverse-button.reversed {
	background-image: url('{my-component-folder}/top-oriented-triangle.svg');
}

#wait-message-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	min-height: 200px;
}

#wait-message-overlay {
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#wait-message-content {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
	font-weight: bold;
	font-size: 22pt;
	display: inline-block;
	color: white;
	opacity: 1;
	z-index: 3;
}

#table-container #wait-message-container {
	display: none;
}

#table-container.pending #wait-message-container {
	display: block;
}
