:host(:not([create-type = Base]):not([create-type = StoredTrace]):not([create-type = ComputedTrace])) #id-trailing-slash  {
    display: none;
}

#resource-form {
    padding-right: 10px;
}

#resource-form p {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    display: block;
    white-space: nowrap;
}

#label {
    width: 400px;
}

label:not(#new-resource-id-label), #new-resource-id-label-aligned {
    text-align: right;
    width: 150px;
    display: inline-block;
}

p#buttons {
    margin-bottom: 0px;
    text-align: center;
}

#buttons button {
    background-color: var(--color-main, cornflowerblue);
	width: 90px;
	height: 35px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	border: none;
}

#buttons button:hover, #buttons button:focus {
    background-color: var(--color-highlight, royalblue);
}

#ok:disabled, #ok:disabled:hover {
	cursor: default;
	background-color: #CCC;
}

#parent-resource-path {
    font-size: 11pt;
    color: gray;
    font-style: italic;
}

#new-resource-id {
    width: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    font-size: 12pt;
    color: black;
}

#new-resource-id:focus {
    background-color: rgb(230, 245, 255);
}

#hidden-span-for-id-width {
    visibility: hidden;
    font-size: 12pt;
}

#origin {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    outline: none;
    height: 20px;
    width: 400px;
}

#origin:focus {
    background-color: rgb(230, 245, 255);
}

#parameters {
    vertical-align: middle;
    border-color: lightgray;
    border-style: solid;
    outline: none;
    width: 400px;
}

#parameters:focus {
    background-color: rgb(230, 245, 255);
}

ktbs4la2-resource-picker {
    vertical-align: top;
    margin-top: -3px;
    width: 505px;
}