#resource-form {
    padding-right: 10px;
}

#resource-form p {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    display: block;
    white-space: nowrap;
}

#label {
    width: 400px;
}

label {
    text-align: right;
    width: 150px;
    display: inline-block;
}

p#buttons {
    margin-bottom: 0px;
    text-align: center;
}

#buttons button {
    background-color: var(--color-main, cornflowerblue);
	width: 90px;
	height: 35px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	border: none;
}

#buttons button:hover, #buttons button:focus {
    background-color: var(--color-highlight, royalblue);
}

#ok:disabled, #ok:disabled:hover {
	cursor: default;
	background-color: #CCC;
}

#origin {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    outline: none;
    height: 20px;
    width: 400px;
}

#origin:focus {
    background-color: rgb(230, 245, 255);
}

ktbs4la2-resource-picker {
    vertical-align: top;
    margin-top: -3px;
    width: 505px;
}

ktbs4la2-multiple-resources-picker {
    width: 505px;
}

#source-trace-method-not-set-message {
    font-size: 9pt;
    color: gray;
    font-style: italic;
}

#source-trace-method-not-set,
#single-source-trace-div,
#multiple-source-traces-div {
    display: none !important;
}

#source-trace.notset #source-trace-method-not-set,
#source-trace.single #single-source-trace-div,
#source-trace.multiple #multiple-source-traces-div {
    display: block !important;
}

/* ---------------------------- */

:host([create-type="Base"]) section:not(.all):not(.Base),
:host([create-type="StoredTrace"]) section:not(.all):not(.StoredTrace),
:host([create-type="ComputedTrace"]) section:not(.all):not(.ComputedTrace),
:host([create-type="Model"]) section:not(.all):not(.Model),
:host([create-type="Method"]) section:not(.all):not(.Method) {
    display: none;
}