:host {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    width: 100%;
}

#container {
    border: 1px solid lightgray;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 5px;
    width: calc(100% - 12px);
}

#empty-message {
    font-size: 10pt;
    font-style: italic;
    color: grey;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

#container.empty #empty-message {
    display: block;
}

.attribute-constraint-input-container {
    clear: both;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.attribute-constraint-input-container:first-child {
    padding-left: 25px;
}

.attribute-constraint-input-container:not(:first-child)::before {
    display: inline-block;
    width: 25px;
    font-size: 8pt;
    color: gray;
    font-style: italic;
    text-align: center;
    vertical-align: top;
    position: relative;
    top: -10px;
}

.attribute-constraint-input-container.about-to-remove ktbs4la2-hrules-attribute-constraint-input,
:host-context(.about-to-remove) .attribute-constraint-input-container ktbs4la2-hrules-attribute-constraint-input {
    --background-color: #FEE;
}

.remove-attribute-constraint-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    opacity: 0.2;
    display: inline-block;
}

.remove-attribute-constraint-button:hover, .remove-attribute-constraint-button:focus {
    opacity: 1;
}

#add-attribute-contraint {
    background-color: var(--color-main, cornflowerblue);
    opacity: 0.5;
    width: calc(100% - 53px);
    min-width: 400px;
    height: 22px;
    cursor: pointer;
    color: white;
    border: none;
    text-align: center;
    align-self: center;
    font-size: 14pt;
    margin-left: 25px;
    margin-right: 30px;
}

#add-attribute-contraint:hover, #add-attribute-contraint:focus {
    background-color: var(--color-highlight, royalblue);
    opacity: 1;
}