:host {
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

#container {
    border: 1px solid lightgray;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 5px;
    width: calc(100% - 12px);
}

#empty-message {
    font-size: 10pt;
    font-style: italic;
    color: grey;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

#container.empty #empty-message {
    display: block;
}

.subrule-input-container {
    clear: both;
    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    white-space: nowrap;
}

.subrule-input-container:first-child {
    margin-block-start: 0;
    padding-left: 25px;
}

.subrule-input-container:not(:first-child)::before {
    display: inline-block;
    width: 25px;
    font-size: 8pt;
    color: gray;
    font-style: italic;
    text-align: center;
    vertical-align: top;
    position: relative;
    top: -10px;
}

.subrule-input-container:nth-child(even) ktbs4la2-hrules-subrule-input {
    --background-color: #E5E5E5;
}

.subrule-input-container.about-to-remove ktbs4la2-hrules-subrule-input,
:host-context(.about-to-remove) .subrule-input-container ktbs4la2-hrules-subrule-input {
    --background-color: #FEE;
}

ktbs4la2-hrules-subrule-input {
    min-width: calc(100% - 30px);
}

.subrule-input-container:not(:first-child) ktbs4la2-hrules-subrule-input {
    min-width: calc(100% - 55px);
}

ktbs4la2-hrules-subrule-input:only-child {
    margin-right: 30px;
}

.remove-subrule-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    opacity: 0.2;
    display: inline-block;
}

.remove-subrule-button:hover, .remove-subrule-button:focus {
    opacity: 1;
}

#add-subrule {
    background-color: var(--color-main, cornflowerblue);
    opacity: 0.5;
    width: calc(100% - 55px);
    min-width: 443px;
    height: 22px;
    cursor: pointer;
    color: white;
    border: none;
    text-align: center;
    align-self: center;
    font-size: 14pt;
    margin-left: 25px;
}

#add-subrule:hover, #add-subrule:focus {
    background-color: var(--color-highlight, royalblue);
    opacity: 1;
}