:host {
    outline: none;
}

#select {
    overflow-y: hidden;
    padding-top: initial;
    padding-bottom: initial;
    -webkit-padding-before: 2px;
    -webkit-padding-after: 3px;
    background-color: var(--background-color);
}

#select:focus {
    background-color: var(--background-color--focus);
}

#select option {
    height: 20px;
}

#select option#default {
    font-style: italic;
    color: grey;
}