#container {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#timeline {
	flex-grow : 1;
}

ktbs4la2-timeline-event h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}

ktbs4la2-timeline-event p {
	margin-top: 2px;
	margin-bottom: 3px;
}

ktbs4la2-timeline-event ul {
	margin-top: 2px;
	margin-bottom: 3px;
	padding-left: 0;
	list-style-type: none;
}

ktbs4la2-timeline-event p, ktbs4la2-timeline-event ul li {
	white-space: nowrap;
}