#marker {
    height: 12px;
    width: 12px;
	outline: none;
	vertical-align: middle;
}

:host(:not([symbol]):not([color])) #marker {
	background-color: #888;
}

:host([symbol]:not([color])) #marker {
	color: #888;
}

:host(:not([symbol])) #marker {
	display: inline-block;
	margin-top: -2px;
}

:host([symbol]) #marker {
	display: inline;
	font-family: "unifont", "unifont-upper";
	text-decoration: none;
	font-size: 11pt;
}

:host([shape]:not([shape = "duration-bar"])) #marker {
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}

:host([shape = "duration-bar"]) #marker, :host(:not([shape])) #marker {
	border-radius: 2px;
}

:host([shape = "circle"]) #marker {
	clip-path: circle(50%);
}

:host([shape = "diamond"]) #marker {
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

:host([shape = "star"]) #marker {
	clip-path: polygon( 50% 0, 64% 30%, 97% 35%, 73% 57%, 79% 90%, 50% 75%, 21% 90%, 26% 57%, 2% 35%, 35% 30%);
}

#label {
	display: inline;
	vertical-align: middle;
}

:host([visible = "false"]) #label , :host([visible = "0"]) #label {
	font-style: italic;
	opacity: .4;
}