ktbs4la2-main-related-resource[slot = "breadcrumbs"] {
    display: inline-block;
    position: relative;
}

ktbs4la2-main-related-resource[slot = "breadcrumbs"]::after {
    content: "›";
    display: inline-block;
    position: absolute;
    right: -6px;
    top: -4px;
    color: #DDD;
    font-stretch: 10%;
    font-size: 30pt;
}