#header {
	position: sticky;
	top: 0px;
	background-color: white;
	padding-left: var(--main-padding, 10px);
	padding-right: var(--main-padding, 10px);
	padding-top: var(--main-padding, 10px);
	padding-bottom: var(--main-padding, 10px);
	border-bottom: 1px solid #aaa;
	display: block;
	z-index: 2;
	box-shadow: 0 10px 8px -8px gray;
}

#header.condensed {
	padding-bottom: 0;
}

#breadcrumbs {
	margin-top: 0;
	margin-bottom: -15px;
	padding: 0 0;
	position: relative;
    left: -10px;
	top: -10px;
	display: inline-block;
}

#header.condensed #breadcrumbs {
	transform: none;
}

:host([resource-type = Ktbs]) #breadcrumbs {
	display: none;
}

#breadcrumbs ktbs4la2-main-related-resource {
    display: inline-block;
    position: relative;
}

#breadcrumbs ktbs4la2-main-related-resource::after {
    content: "›";
    display: inline-block;
    position: absolute;
    right: -7px;
    top: -8px;
    color: #DDD;
    font-stretch: 10%;
    font-size: 30pt;
}

#header:not(.condensed) #resource-description-container {
	display: table;
}

#header.condensed #resource-description-container {
	display: inline-block;
	vertical-align: top;
}

#header:not(.condensed) #resource-type-description {
	display: table-cell;
	text-align: center;
	width: 40px;
	padding-left: 30px;
	vertical-align: top;
}

#header.condensed #resource-type-description {
	display: inline-block;
}

#resource-type-label {
	font-size: 8pt;
	font-weight: bold;
}

#header.condensed #resource-type-label {
	display: none;
}

#resource-description {
	padding-left: 0;
	padding-left: 0;
	padding-left: 0;
}

#header:not(.condensed) #resource-description {
	display: table-cell;
	padding-left: 10px;
	vertical-align: top;
	padding-top: 5px;
}

#header.condensed #resource-description {
	display: inline-block;
	padding-left: 0;
	vertical-align: top;
}

#title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16pt;
}

#header.condensed #title {
	font-size: 10pt;
	font-weight: normal;
	position: relative;
    top: 0px;
}

#resource-link {
	display: block;
	font-size: 8pt;
	margin-bottom: 0;
	outline: none;
}

#resource-link:after {
	content: " [↗]";
}

#header.condensed #resource-link {
	display: none;
}

#resource-status-label {
	padding-left: 18px;
	font-size: 8pt;
	display: inline;
	vertical-align: middle;
}

#header.condensed #resource-status-label {
	display: none;
}

#container.error #header, #container.deleted #header {
	background-color: rgb(255, 200, 200);
}

#container.authentication-required #header {
	background-color: #f7dfc2;
}

#container.pending #resource-status {
	background: url('{my-component-folder}/blue-spinner.svg') no-repeat;
}

#container.online #resource-status {
	background: url('{my-component-folder}/online.svg') no-repeat;
}

#container.access-granted #resource-status,
#container.access-inherited #resource-status {
	background: url('{my-component-folder}/lock_open.svg') no-repeat;
	background-position: 5px 50%;
}

#container.deleted #resource-status {
	background: url('{my-component-folder}/trash.svg') no-repeat;
	background-size: contain;
}

#container.online #resource-status-label,
#container.access-granted #resource-status-label,
#container.access-inherited #resource-status-label {
	color: #060;
}

#container.error #resource-status {
	background: url('{my-component-folder}/error.svg') no-repeat;
}

#container.error #resource-status-label, #container.error #error-message,
#container.deleted #resource-status-label {
	color: red;
}

#container.authentication-required #resource-status {
	background: url('{my-component-folder}/lock_closed_orange.svg') no-repeat;
	background-position: 5px 50%;
}

#container.authentication-required #resource-status-label {
	color: #fd8b00;
}

#container.access-denied #resource-status {
	background: url('{my-component-folder}/lock_crossed.svg') no-repeat;
}

#container.access-denied #resource-status-label {
	color: red;
}

#error-message {
	display: none;
}

#container.error #error-message {
	display: inline;
}

#container.error #header.condensed #error-message {
	display: none;
}

#disconnect-button {
	background: url('{my-component-folder}/exit.svg') no-repeat;
	width: 16px;
	height: 16px;
	opacity: 0.25;
	cursor: pointer;
	vertical-align: middle;
}

#disconnect-button:hover {
	opacity: 1;
}

#container.access-granted #disconnect-button {
	display: inline-block;
}

#header.condensed #disconnect-button {
	display: none;
}

#header.condensed #resource-about, :host(:not([resource-type = Ktbs])) #resource-about, #container:not(.online):not(.access-granted):not(.access-inherited) #resource-about {
    display: none;
}

#container:not(.online):not(.access-granted):not(.access-inherited) #resource-contents {
	display: none;
}

#authentication {
	display: none;
}

#container.authentication-required #authentication, #container.access-denied #authentication {
	display: block;
}

#resource-type-icon {
	width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

#header.condensed #resource-type-icon {
	width: 22px;
	height: 22px;
	display: inline-block;
	position: relative;
	top: -4px;
}

:host([resource-type = Ktbs]) #resource-type-icon {
    background-image: url('{my-component-folder}/home.svg');
}

:host([resource-type = Ktbs]) #container.error #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/home.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 20px 20px;
}

:host([resource-type = Ktbs]) #container.access-granted #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/home.svg');
	background-position: 10px 10px, 0 50%;
	background-size: 12px 12px, 20px 20px;
}

:host([resource-type = Ktbs]) #container.authentication-required #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/home.svg');
	background-position: 14px 10px, 0 50%;
	background-size: 12px 12px, 20px 20px;
}

:host([resource-type = Ktbs]) #container.authentication-denied #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/home.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 20px 20px;
}

:host([resource-type = Base]) #resource-type-icon {
    background-image: url('{my-component-folder}/database.svg');
}

:host([resource-type = Base]) #container.error #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/database.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Base]) #container.access-granted #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/database.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Base]) #container.authentication-required #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/database.svg');
	background-position: 12px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Base]) #container.authentication-denied #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/database.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Model]) #resource-type-icon {
    background-image: url('{my-component-folder}/Model.svg');
}

:host([resource-type = Model]) #container.error #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/Model.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Model]) #container.access-granted #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/Model.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Model]) #container.authentication-required #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/Model.svg');
	background-position: 12px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Model]) #container.authentication-denied #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/Model.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = StoredTrace]) #resource-type-icon {
    background-image: url('{my-component-folder}/StoredTrace.svg');
}

:host([resource-type = StoredTrace]) #container.error #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/StoredTrace.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = StoredTrace]) #container.access-granted #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/StoredTrace.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = StoredTrace]) #container.authentication-required #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/StoredTrace.svg');
	background-position: 12px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = StoredTrace]) #container.authentication-denied #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/StoredTrace.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = ComputedTrace]) #resource-type-icon {
    background-image: url('{my-component-folder}/ComputedTrace.svg');
}

:host([resource-type = ComputedTrace]) #container.error #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/ComputedTrace.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = ComputedTrace]) #container.access-granted #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/ComputedTrace.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = ComputedTrace]) #container.authentication-required #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/ComputedTrace.svg');
	background-position: 12px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = ComputedTrace]) #container.authentication-denied #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/ComputedTrace.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Method]) #resource-type-icon {
    background-image: url('{my-component-folder}/Method.svg');
}

:host([resource-type = Method]) #container.error #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/error.svg'), url('{my-component-folder}/Method.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Method]) #container.access-granted #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_open.svg'), url('{my-component-folder}/Method.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Method]) #container.authentication-required #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_closed_orange.svg'), url('{my-component-folder}/Method.svg');
	background-position: 12px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

:host([resource-type = Method]) #container.authentication-denied #header.condensed #resource-type-icon {
	background-image: url('{my-component-folder}/lock_crossed.svg'), url('{my-component-folder}/Method.svg');
	background-position: 8px 10px, 0 50%;
	background-size: 12px 12px, 17px 17px;
}

#resource-about {
	font-size: 10pt;
}

#resource-about-content {
	padding-top: 5px;
	margin-left: 30px;
}

#resource-about.folded #resource-about-content {
	display: none;
}

#resource-about-toggle {
	cursor: pointer;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	display: block;
	margin-left: 30px;
	margin-top: -3px;
	margin-bottom: -5px;
}

#resource-about.folded #resource-about-toggle {
	background-image: url('{my-component-folder}/information-empty.svg');
}

#resource-about.folded #resource-about-toggle:hover {
	background-image: url('{my-component-folder}/information-full.svg');
}

#resource-about.expanded #resource-about-toggle {
	background-image: url('{my-component-folder}/information-full.svg');
}

#resource-about.expanded #resource-about-toggle:hover {
	background-image: url('{my-component-folder}/information-empty.svg');
}

#root-comment {
	background-color: cornflowerblue;
	border: 1px solid royalblue;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px;
}

#version-label {
	font-size: bold;
}

#root-builin-methods {
	margin: 0 0;
	padding-left: 0;
}

#root-builin-methods h2 {
	margin: 0 0;
	font-weight: bold;
	font-size: 10pt;
	display: inline-block;
}

#root-builin-methods li {
	list-style-type: none;
	display: inline-block;
	background: url('{my-component-folder}/Method.svg') no-repeat;
	background-size: 16px 16px;
	background-position: 0 1px;
	margin-right: 10px;
	padding-left: 18px;
	padding-bottom: 5px;
	vertical-align: middle;
	position: relative;
	bottom: -2px;
}

#resource-contents {
	padding-left: var(--main-padding, 10px);
	padding-right: var(--main-padding, 10px);
	z-index: 1;
	position: relative;
}

#fold-header-button {
	cursor: pointer;
	width: 16px;
	height: 10px;
	background-repeat: no-repeat;
	background-image: url('{my-component-folder}/top-oriented-triangle.svg');
	opacity: 0.3;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

#header.condensed #fold-header-button {
	background-image: url('{my-component-folder}/bottom-oriented-triangle.svg');
}

#fold-header-button:hover {
	opacity: 1;
}

#child-bases,
#child-builtin-methods,
#child-models,
#child-stored-traces,
#child-methods,
#child-computed-traces,
#resource-data,
#source-traces,
#resource-head-content,
#parent-method,
#model,
#origin,
#method,
#parameters,
#obsels,
#stats
{
    display: none;
}

:host([resource-type = Ktbs]) #child-bases, :host([resource-type = Base]) #child-bases,
:host([resource-type = Ktbs]) #child-builtin-methods,
:host([resource-type = Base]) #child-models, :host([resource-type = Base]) #child-stored-traces, :host([resource-type = Base]) #child-methods, :host([resource-type = Base]) #child-computed-traces,
:host([resource-type = Model]) #resource-head-content,
:host([resource-type = StoredTrace]) #resource-data, :host([resource-type = Method]) #resource-data, :host([resource-type = ComputedTrace]) #resource-data,
:host([resource-type = Method]) #parent-method,
:host([resource-type = Method]) #parameters, :host([resource-type = ComputedTrace]) #parameters,
:host([resource-type = ComputedTrace]) #container.view #model, :host([resource-type = ComputedTrace]) #container.view #origin, :host([resource-type = ComputedTrace]) #source-traces, :host([resource-type = ComputedTrace]) #method, :host([resource-type = ComputedTrace]) #obsels, :host([resource-type = ComputedTrace]) #stats,
:host([resource-type = StoredTrace]) #model, :host([resource-type = StoredTrace]) #origin, :host([resource-type = StoredTrace]) #obsels, :host([resource-type = StoredTrace]) #stats
{
    display: block !important;
}

/* ----- Authentication form ------- */

#authentication {
	text-align: center;
}

#authentication-form {
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #CCC;
	border-radius: 16px;
	padding: 0 0 0 0;
}

#authentication-form p {
	padding-left: 10px;
	padding-right: 10px;
}

#authentication-form #auth-error-message {
	color: red;
	background-color: pink;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	background-image: url('{my-component-folder}/error.svg');
	background-repeat: no-repeat;
	background-position: 5px 50%;
	background-size: 16px 16px;
	font-size: 10pt;
	padding-left: 25px;
	text-align: left;
	display: none;
}

#authentication-form h2 {
	background-color: #FF8C00;
	color: #FFFFFF;
	margin-top: 0;
	border-radius: 16px 16px 0 0;
	background-image: url('{my-component-folder}/key_white.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 8px 3px;
	padding-left: 30px;
	padding-right: 5px;
}

#authentication-form label {
	display: inline-block;
}

#authentication-form p.textfield {
	text-align: right;
}

#authentication-form p.textfield input {
	margin-left: 5px;
	min-width: 100px;
}

#authentication-form h3 {
	font-size: 10pt;
	text-align: left;
	margin: 0 0 0 0;
	padding-left: 10px;
	font-weight: normal;
}

#authentication-form #auth_validity_options {
	text-align: left;
	margin-top: 0;
	font-size: 8pt;
}

#authentication-form #buttons {
	text-align: center;
}

#authentication-form #buttons button {
	background-color: #FF8C00;
	width: 120px;
	height: 35px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	border: none;
	opacity: 0.6;
	font-weight: bold;
}

#authentication-form #buttons button:hover {
	opacity: 1;
}

#authentication-form #validate-authentication:disabled, #authentication-form #validate-authentication:disabled:hover {
	cursor: default;
	background-color: #CCC;
}

#resource-tools {
	position: absolute;
	right: 10px;
	top: 10px;
}

#header.condensed #resource-tools {
	display: none;
}

.resource-tool {
	background-repeat: no-repeat;
	background-position: center;
	width: 28px;
	height: 28px;
	opacity: .3;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	outline: none;
}

#container:not(.online):not(.access-granted):not(.access-inherited) .resource-tool {
	display: none;
}

.resource-tool:hover {
	opacity: 1;
}

.resource-tool.disabled {
	cursor: default;
}

.resource-tool.disabled:hover {
	opacity: .3;
}

#tool-edit {
	background-image: url('{my-component-folder}/edit.svg');
}

#tool-remove {
	background-image: url('{my-component-folder}/trash.svg');
}

#tool-save-modifications {
	background-image: url('{my-component-folder}/floppy_green.svg');
}

#tool-save-modifications.disabled {
	background-image: url('{my-component-folder}/floppy_black.svg');
}

#tool-cancel-modifications {
	background-image: url('{my-component-folder}/cancel.svg');
}

/* --------------- */

.add-resource-button {
	display: inline-block;
	vertical-align: middle;
	text-decoration-line: none;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 90%;
	padding-top: 8px;
	padding-bottom: 8px;
	color: green;
	font-size: 16pt;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	background-color: none;
	outline: none;
	border: none;
}

.add-resource-button:hover {
	background-color: green;
	color: white;
	box-shadow: 0px 0px 4px 2px #888;
}

/* --- */

ktbs4la2-main-subsection {
	--main-related-resource-width: 250px;
}

ktbs4la2-multiple-translations-text-input {
	width: 500px;
}

ktbs4la2-resource-picker,
ktbs4la2-multiple-resources-picker{
	width: 600px;
}

#container:not(.view) .view {
	display: none !important;
}

#container:not(.edit) .edit {
	display: none !important;
}

/* ------------------------------- */

#source-trace-method-not-set-message {
    font-size: 9pt;
    color: gray;
    font-style: italic;
}

#source-traces.single #multiple-source-traces-label, 
#source-traces.single #multiple-source-traces-picker, 
#source-traces.single #source-trace-method-not-set-message,
#source-traces.multiple #single-source-trace-label, 
#source-traces.multiple #single-source-trace-picker,
#source-traces.multiple #source-trace-method-not-set-message,
#source-traces.notset #multiple-source-traces-label,
#source-traces.notset #multiple-source-traces-picker, 
#source-traces.notset #single-source-trace-picker {
	display: none;
}

#resource-data {
	font-size: 9pt;
}

#resource-data p {
	margin-block-start: 5px;
	margin-block-end: 5px;
}

#resource-data label {
	display: inline-block;
	width: 90px;
	text-align: right;
}