:host {
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

#container {
    border: 1px solid lightgray;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
}

#subrules-input {
    display: block;
}

fieldset {
    border: none;
    padding: 0 0;
    margin: 0 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

fieldset p:first-child {
    margin-block-start: 0;
}

fieldset p:last-child {
    margin-block-end: 0;
}

:host(:not([stylesheet])) .for-stylesheets {
    display: none;
}