:host {
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

#container {
    border: 1px solid lightgray;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.localized-input-container {
    clear: both;
    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.localized-input-container:first-child {
    margin-block-start: 0px;
}

ktbs4la2-localized-text-input {
    width: calc(100% - 32px);
}

.remove-translation-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    opacity: 0.2;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

.remove-translation-button:hover, .remove-translation-button:focus {
    opacity: 1;
}

#add-translation {
    background-color: var(--color-main, cornflowerblue);
    opacity: 0.5;
    width: calc(100% - 32px);
    height: 22px;
    cursor: pointer;
    color: white;
    border: none;
    text-align: center;
    align-self: center;
    font-size: 14pt;
}

#add-translation:hover, #add-translation:focus {
    background-color: var(--color-highlight, royalblue);
    opacity: 1;
}