#window {
	display: table;
	table-layout: fixed;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	z-index: 1;
}

#left-panel {
	background-color: var(--nav-background-color, var(--color-main, cornflowerblue));
	display: table-cell;
	vertical-align: top;
	width: 250px;
}

#left-panel.folded {
	width: 20px;
	position: absolute;
    z-index: 3;
	transition: left 0.1s;
}

#left-panel.folded.masked {
	left: -20px;
}

#left-panel.folded:not(.masked) {
	left: 0px;
}

#nav-content {
	padding-top: 0;
	padding-bottom: 0;
	height: 100vh;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;
	--nav-resource-color: white;
}

#left-panel.folded #nav-content * {
	display: none;
}

#left-panel.folded #fold-button {
	display: block;
}

#fold-button {
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 10px;
	height: 16px;
	cursor: pointer;
	opacity: 0.3;
	float: right;
	position: sticky;
	top: 3px;
	margin-right: 5px;
	z-index: 2;
}

#nav-content header {
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	position: sticky;
	top: 0px;
	background-color: var(--nav-background-color, var(--color-main, cornflowerblue));
	padding-top: 20px;
	box-shadow: 0 10px 8px -8px black;
	margin-bottom: 10px;
	z-index: 1;
}

#nav-content header h1 {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

#lang-selector {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#lang-selector .lang-button {
	width: 18px;
	height: 12px;
	cursor: pointer;
	opacity: 0.3;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

#lang-selector .lang-button.selected {
	opacity: 1;
	cursor: default;
}

#lang-selector .lang-button:hover {
	opacity: 1;
}

#fold-button:hover {
	opacity: 1;
}

#left-panel:not(.folded) #fold-button {
	background-image: url('{my-component-folder}/left-oriented-triangle.svg');
}

#left-panel.folded #fold-button {
	background-image: url('{my-component-folder}/right-oriented-triangle.svg');
}

#home-link {
	color: var(--home-link-color, white);
	text-decoration-color: var(--home-link-decoration-color, white);
	text-decoration-line: var(--home-link-decoration-line, underline overline);
	font-size: var(--home-link-font-size, 24pt);
	cursor: pointer;
	outline: none;
}

#lists {
	padding-left: 10px;
	padding-right: 10px;
	user-select: none;
}

#lists h2 {
	font-size: var(--nav-h2-font-size, 14pt);
	font-style: var(--nav-h2-font-style, italic);
	margin-bottom: 5px;
}

.nav-list {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
}

.nav-list-add-item-button {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	padding-left: 5px;
	font-size: 18pt;
	border-radius: 5px;
	margin-top: 2px;
}

.nav-list-add-item-button:hover {
	background-color: royalblue;
}

#separator {
	display: table-cell;
	background-color: #CCC;
	width: 5px;
	cursor: col-resize;
	background-image: url('{my-component-folder}/vertical-separator.svg');
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#left-panel.folded ~ #separator {
	display: none;
}

#main-panel {
	display: table-cell;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

#left-panel.folded ~ #main-panel {
	display: block;
}

#main-scrollable {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: auto;
	overflow-y: auto;
}

#overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	display: none;
}
