#stylesheets div {
    display: inline-block;
    width: calc(50% - 20px);
    margin: 0 0;
    vertical-align: top;
}

#display-choice {
    border-left: 1px solid lightgrey;
    padding-left: 10px;
}

#stylesheets div label {
    cursor: pointer;

}

#stylesheets .help {
    font-style: italic;
    color: rgb(110, 110, 110);
    font-size: 9pt;
}

#stylesheets div select {
    display: block;
}

p#buttons {
    margin-bottom: 0px;
    text-align: center;
}

#buttons button {
    background-color: var(--color-main, cornflowerblue);
	width: 90px;
	height: 35px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	border: none;
}

#buttons button:hover, #buttons button:focus {
    background-color: var(--color-highlight, royalblue);
}