table {
    border-collapse: collapse;
    margin-bottom: 5px;
    position: relative;
}

table caption {
    text-align: left;
}

table caption.hidden {
    display: none;
}

#discriminating-column-label, #value-label {
    font-weight: bold;
}

table thead, table thead tr, table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table th {
    background-color: honeydew;
    color: black;
    text-align: center;
    border: 1px solid gray;
    padding: 5px 5px;
    font-weight: normal;
    font-size: 10pt;
}

:host([allow-create-new = "0"]) .mapping-type-select option[value = "<new>"],
:host([allow-create-new = "false"]) .mapping-type-select option[value = "<new>"] {
    display: none;
}

.new-attribute-parameters {
    display: none;
}

:host(:not([allow-create-new = "0"]):not([allow-create-new = "false"])) .new-attribute-parameters:not(.hidden) {
    display: block;
}

table tr.hidden {
    display: none;
}

table td {
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 5px 5px;
}

#loading-preview-message {
    background-image: url('{my-component-folder}/blue-spinner.svg');
	background-repeat: no-repeat;
    padding: 3px 5px 2px 20px;
    background-color: lightgray;
    border-radius: 5px 5px;
    font-style: italic;
    font-size: 8pt;
    opacity: 0.5;
    display: inline-block;
    visibility: hidden;
}

:host(.loading) #loading-preview-message {
    visibility: visible;
}