/* --- Common styles --- */

:host {
    display: block;
    padding-bottom: 40px;
}

#main {
    white-space: nowrap;
}

#import-steps-nav {
    font-size: 8pt;
    color: gray;
    display: inline-block;
    vertical-align: top;
    position: sticky;
    top: 5px;
}

#import-steps-nav-list {
    padding-left: 20px;
    margin-block-start: 0px;
}

#import-steps-nav-list.with-import-profile li.no-import-profile {
    display: none;
}

#main.step-choose-file #step-choose-file-nav-item,
#main.step-load-profile #step-load-profile-nav-item,
#main.step-csv-parsing #step-csv-parsing-nav-item,
#main.step-choose-model #step-choose-model-nav-item,
#main.step-define-obsel-types #step-define-obsel-types-nav-item,
#main.step-attributes-mapping #step-attributes-mapping-nav-item,
#main.step-trace-parameters #step-trace-parameters-nav-item,
#main.step-import #step-import-nav-item,
#main.step-save-profile #step-save-profile-nav-item {
    font-weight: bold;
    color: royalblue;
}

#main-content {
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}

.import-step {
    display: none;
}

#main.step-choose-file #step-choose-file,
#main.step-load-profile #step-load-profile,
#main.step-csv-parsing #step-csv-parsing,
#main.step-choose-model #step-choose-model,
#main.step-define-obsel-types #step-define-obsel-types,
#main.step-attributes-mapping #step-attributes-mapping,
#main.step-trace-parameters #step-trace-parameters,
#main.step-import #step-import,
#main.step-save-profile #step-save-profile {
    display: block;
}

.import-step {
    min-width: 320px;
    padding-bottom: 20px;
}

#main-content .import-step h1 {
    margin-top: 0px;
}

#main-content .import-step h2 {
    font-size: 14pt;
    margin-block-end: 5px;
}

#step-navigation {
    width: 100%;
    position: relative;
}

#step-navigation button {
    background-color: var(--color-main, cornflowerblue);
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: white;
    border: none;
    position: absolute;
    outline: none;
}

#step-navigation button:hover, #step-navigation button:focus {
    background-color: var(--color-highlight, royalblue);
}

#step-navigation button:disabled, #step-navigation button:disabled:hover {
    cursor: default;
    background-color: #CCC;
}

#previous-step-button {
    left: 0px;
}

#next-step-button, #close-button {
    right: 0px;
}

#close-button {
    display: none;
}

/* --- Step choose file --- */

#step-choose-file-form {
    display: flex;
}

#import-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#import-file + label {
    border: 1px solid olivedrab;
    border-radius: 10px;
    color: olivedrab;
    background-color: white;
    background-image: url('{my-component-folder}/file-csv-olivedrab.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 75%;
    background-size: 75% 70%;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    display: block;
    padding-top: 5px;
    width: 150px;
    height: 112px;
    margin-right: 10px;
    text-align: center;
}

#import-file:invalid + label {
    color: gray;
    border-color: gray;
    background-image: url('{my-component-folder}/file-csv-gray.svg');
}

#import-file + label:hover {
    background-color: olivedrab;
    background-image: url('{my-component-folder}/file-csv-white.svg');
    color: white;
    box-shadow: 0px 0px 6px 3px #888;
}

#import-file-details {
    white-space: nowrap;
}

#import-file-details-no-file {
    font-style: italic;
    color: gray;
    font-size: 14pt;
    margin-top: 45px;
}

#import-file-details-file {
    margin-top: 30px;
}

#import-file-details > div {
    display: none;
}

#import-file-details.no-file #import-file-details-no-file,
#import-file-details:not(.no-file) #import-file-details-file {
    display: block;
}

.import-file-details-line-title {
    color: gray;
    font-size: 10pt;
}

#import-file-details-name-value {
    color: olivedrab;
    font-weight: bold;
    font-size: 14pt;
}

#import-file-details.empty-file #import-file-details-name-value,
#import-file-details.empty-file #import-file-details-size-value {
    color: red;
}

#main.step-choose-file #previous-step-button {
    display: none;
}

/* --- Step load profile --- */

#load-profile-yes:disabled + #load-profile-yes-label {
    color: gray;
    font-style: italic;
}

#import-profile-no-profile-available-option:not(:only-child) {
    display: none;
}

/* --- Step CSV parsing --- */

#separator-custom-input.hidden {
    display: none;
}

#parsing-preview-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11pt;
    font-style: italic;
}

#parsing-preview-container {
    position: relative;
}

#parsing-preview-container {
    resize: both;
    width: 750px;
    height: 250px;
    overflow: scroll;
}

#parsing-preview {
    border-collapse: collapse;
    margin-bottom: 5px;
}

#parsing-preview.has-header tr:first-child td {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    padding: 5px 5px;
}

#parsing-preview td {
    background-color: white;
    color: black;
    border: 1px solid gray;
}

#loading-preview-message {
    background-image: url('{my-component-folder}/blue-spinner.svg');
	background-repeat: no-repeat;
    padding: 3px 5px 2px 20px;
    background-color: lightgray;
    border-radius: 5px 5px;
    font-style: italic;
    font-size: 8pt;
    opacity: 0.5;
    visibility: hidden;
}

#parsing-preview-container.loading #loading-preview-message {
    visibility: visible;
}

/* --- Step choose model --- */

#step-choose-model-form.model-choice-new #existing-model-container,
#step-choose-model-form.model-choice-existing #new-model-container {
    display: none;
}

#new-model-base-uri {
    font-size: 11pt;
    color: gray;
    font-style: italic;
}

#existing-model {
    width: 100%;
}

/* --- Step define obsel types --- */

#step-define-obsel-types-form.model-existing #new-model-unique-obsel-type-container,
#step-define-obsel-types-form.model-new #existing-model-unique-obsel-type-container,
#step-define-obsel-types-form.obsel-types-number-unique #multiple-obsel-types-parameters,
#step-define-obsel-types-form.obsel-types-number-multiple #unique-obsel-type-parameters {
    display: none;
}

#multiple-obsel-types-parameters #parsing-preview {
    --hovered-column-color: #EEF;
    --clicked-column-color: #AFA;
    --error-column-color: #FAA;
    user-select: none;
}

#multiple-obsel-types-parameters #parsing-preview td {
    cursor: pointer;
}

#obsel-types-mapping {
    border-collapse: collapse;
    width: 100%;
}

#obsel-types-mapping tbody tr:not(#obsel-types-mapping-empty-row) {
    height: 85px;
}

#obsel-types-mapping td {
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 5px 5px;
}

#obsel-types-mapping th {
    background-color: cornflowerblue;
    color: black;
    font-weight: bold;
    font-size: 12pt;
    font-style: italic;
    text-align: center;
    border: 1px solid gray;
    padding: 5px 5px;
}

#obsel-types-mapping td#obsel-types-mapping-empty-cell {
    font-size: 11pt;
    font-style: italic;
    color: gray;
    text-align: center;
}

#obsel-types-mapping-empty-row:not(:only-child) {
    display: none;
}

#obsel-types-mapping td.obsel-type-label ktbs4la2-multiple-translations-text-input {
    width: 100%;
    min-width: 350px;
}

#obsel-types-mapping tr.do-not-import td.obsel-type-id span,
#obsel-types-mapping tr.do-not-import td.obsel-type-id ktbs4la2-resource-id-input,
#obsel-types-mapping tr.do-not-import td.obsel-type-label span,
#obsel-types-mapping tr.do-not-import td.obsel-type-label ktbs4la2-multiple-translations-text-input,
#obsel-types-mapping tr.existing-obsel-type td.obsel-type-id ktbs4la2-resource-id-input,
#obsel-types-mapping tr.existing-obsel-type td.obsel-type-label ktbs4la2-multiple-translations-text-input,
#obsel-types-mapping tr.new-obsel-type td.obsel-type-id span,
#obsel-types-mapping tr.new-obsel-type td.obsel-type-label span {
    display: none;
}

#obsel-types-mapping tr.existing-obsel-type td.obsel-type-id span,
#obsel-types-mapping tr.existing-obsel-type td.obsel-type-label span {
    color: gray;
    font-style: italic;
    cursor: default;
}

/* --- Step attributes mapping ---*/

#attributes-mapping-tables-container {
    resize: both;
    width: 1000px;
    height: 450px;
    overflow: scroll;
}

ktbs4la2-attributes-mapping-table.hidden {
    display: none;
}

/* --- Step trace parameters --- */

#start-import-button {
    background-color: green;
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: white;
    border: none;
    position: relative;
    outline: none;
    bottom: -20px;
    float: right;
}

#start-import-button:hover, #start-import-button:focus {
    background-color: #1fc71f;
}

#start-import-button:disabled, #start-import-button:disabled:hover {
    cursor: default;
    background-color: #CCC;
}

/* --- Step import --- */

#main.step-trace-parameters #next-step-button,
#main.step-import #previous-step-button,
#main.step-import.importing #next-step-button,
#main.step-save-profile #next-step-button {
    display: none;
}

#trace-id-parent-path {
    font-size: 11pt;
    color: gray;
    font-style: italic;
}

#progress-bar-container {
    height: 20px;
    border: 1px solid lightgray;
    min-width: 500px;
}

#progress-bar {
    background-color: green;
    height: 100%;
}

#import-message {
    color: gray;
    font-style: italic;
}

#import-errors {
    color: red;
    font-style: italic;
}

#step-import.importing #import-result,
#step-import:not(.has-errors) #import-errors {
    display: none;
}

#step-import:not(.has-errors) #errors-count {
    color: green;
}

#step-import.has-errors #errors-count {
    color: red;
}

#undo-import-button {
    background-color: #D00;
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: white;
    border: none;
    position: relative;
    outline: none;
    opacity: 0.3;
    bottom: -20px;
    float: left;
    background-image: url('{my-component-folder}/trash_white.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 3px);
    background-position-y: 3px;
    padding-right: 15px;
    background-size: 20px;
}

#undo-import-button:hover, #undo-import-button:focus {
    opacity: 1;
}

#step-import.importing #undo-import-button {
    display: none;
}

#main.step-import #main-content.with-import-profile #step-import:not(.importing) ~ #step-navigation #close-button {
    display: block;
}

#main.step-import #step-import.importing ~ #step-navigation #next-step-button, 
#main.step-import #main-content.with-import-profile #next-step-button {
    display: none;
}

/* --- Step save profile --- */

#main.step-save-profile #close-button {
    display: block;
}

#save-profile-button {
    background-color: green;
    width: 150px;
    height: 30px;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    bottom: -20px;
    float: left;
    background-image: url('{my-component-folder}/floppy_white.svg');
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    padding-left: 30px;
    background-size: 20px;
}

#save-profile-button:hover, #save-profile-button:focus {
    background-color: #1fc71f;
}

#save-profile-button:disabled, #save-profile-button:disabled:hover {
    cursor: default;
    background-color: #CCC;
    font-style: italic;
}